@import url('https://fonts.googleapis.com/css2?family=Playwrite+TZ:wght@100..400&family=Inter:wght@400;500;600&family=Poppins:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-script: "Playwrite TZ", cursive;
  --font-poppins: "Poppins", sans-serif;
  
  --color-brand-green: #D2FF00;
}

@layer base {
  body {
    @apply antialiased text-black bg-brand-green;
  }
}

@layer components {
  .micro-text {
    @apply font-sans text-[10px] tracking-[0.3em] uppercase text-black/50;
  }
  
  .script-text {
    @apply font-script font-normal leading-none;
  }
}
